<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDW7nSUCURYKM-fqKSrGN4eS0UZkA1GtpE</string>
	<key>GCM_SENDER_ID</key>
	<string>672558884827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caro.testdemo</string>
	<key>PROJECT_ID</key>
	<string>testmobileios-df09c</string>
	<key>STORAGE_BUCKET</key>
	<string>testmobileios-df09c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672558884827:ios:9dabd5502a0477c3f169fe</string>
</dict>
</plist>