<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483657922353-41d3auikqeh6fnva861a4lcu8ahcbvon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483657922353-41d3auikqeh6fnva861a4lcu8ahcbvon</string>
	<key>API_KEY</key>
	<string>AIzaSyDxg9SqdGfYqZnJoINhe50wE4cmWg8ow88</string>
	<key>GCM_SENDER_ID</key>
	<string>483657922353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Google-LLC.CrashlyticsSwiftUIExample</string>
	<key>PROJECT_ID</key>
	<string>ios-quickstart-swiftui-update</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-quickstart-swiftui-update.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483657922353:ios:a0b3132ce8b0584f3c2210</string>
	<key>DATABASE_URL</key>
	<string>https://ios-quickstart-swiftui-update-default-rtdb.firebaseio.com</string>
</dict>
</plist>