<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>price_prefix</key>
	<string>Your price is $</string>
	<key>loading_phrase</key>
	<string>Checking your price...</string>
	<key>is_promotion_on</key>
	<false/>
	<key>price</key>
	<integer>100</integer>
	<key>discount</key>
	<integer>0</integer>
</dict>
</plist>
