<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loading_phrase</key>
	<string>Fetching config...</string>
	<key>welcome_message_caps</key>
	<false/>
	<key>welcome_message</key>
	<string>Welcome to my awesome app!</string>
</dict>
</plist>
