<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039810801566-jgl63pdueptjd68273smr00gbemki5pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039810801566-jgl63pdueptjd68273smr00gbemki5pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4y1e58vCnQ9NBu3VaHOdGtJ0PJu79a4</string>
	<key>GCM_SENDER_ID</key>
	<string>1039810801566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.ConfigExample</string>
	<key>PROJECT_ID</key>
	<string>realtimeconfig-donotdelete</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimeconfig-donotdelete.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039810801566:ios:7a7902c92c2883886cf08f</string>
</dict>
</plist>
