<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK5Za83R4xZP8l2ff-EvXiA9xCyf2i29o</string>
	<key>GCM_SENDER_ID</key>
	<string>206117040282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.mmaksym.DeviceTokenGenerator</string>
	<key>PROJECT_ID</key>
	<string>rtdb-with-app-check-codelab</string>
	<key>STORAGE_BUCKET</key>
	<string>rtdb-with-app-check-codelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:206117040282:ios:17ebb5812d240da753af23</string>
	<key>DATABASE_URL</key>
	<string>https://rtdb-with-app-check-codelab-default-rtdb.firebaseio.com</string>
</dict>
</plist>
