name: Crashlytics

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/crashlytics.yml'
      - 'crashlytics/**'
      - 'scripts/*'
      - 'scripts/crashlytics.sh'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/crashlytics.yml'
      - 'crashlytics/**'
      - 'scripts/*'
      - 'scripts/crashlytics.sh'

  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd crashlytics/LegacyCrashlyticsQuickstart
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          cd ..
          ../scripts/install_prereqs/crashlytics.sh
        env:
          SAMPLE: Crashlytics
          secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}
          LEGACY: true
      - name: Build ObjC
        run:  ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ''
          SAMPLE: Crashlytics
          LEGACY: true
      - name: Build Swift
        run:  ./scripts/test.sh
        env:
          SWIFT_SUFFIX: 'Swift'
          SAMPLE: Crashlytics
          LEGACY: true
      - name: Build SwiftUI (iOS)
        run: |
          cd scripts
          source install_prereqs/crashlytics.sh
          cd ..
          source scripts/test_spm.sh
        env: 
          SAMPLE: Crashlytics
          DIR: crashlytics
          OS: iOS
          DEVICE: iPhone 11
          SWIFT_DEFINES: ""
          TEST: false
      - name: Build SwiftUI (tvOS)
        run: |
          cd scripts
          source install_prereqs/crashlytics.sh
          cd ..
          source scripts/test_spm.sh
        env: 
          SAMPLE: Crashlytics
          DIR: crashlytics
          OS: tvOS
          DEVICE: Apple TV
          SWIFT_DEFINES: ""
          TEST: false
      - name: Build SwiftUI (macOS)
        run: |
          cd scripts
          source install_prereqs/crashlytics.sh
          cd ..
          source scripts/test_spm.sh
        env: 
          SAMPLE: Crashlytics
          DIR: crashlytics
          OS: macOS
          DEVICE: localhost
          SWIFT_DEFINES: ""
          TEST: false
#       Works from the xcode UI but not from the xcodebuild command
#       - name: Build SwiftUI (watchOS)
#         run: |
#           cd scripts
#           source install_prereqs/crashlytics.sh
#           cd ..
#           source scripts/test_spm.sh
#         env:
#           SAMPLE: Crashlytics
#           DIR: crashlytics
#           OS: watchOS
#           DEVICE: Apple Watch Series 5 - 44mm
#           SWIFT_DEFINES: ""
#           TEST: false
