name: Database

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'database/**'
      - 'scripts/*'
      - 'scripts/database.sh'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'database/**'
      - 'scripts/*'
      - 'scripts/database.sh'

  workflow_dispatch:

env:
  SAMPLE: Database
  secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}

jobs:
  cocoapods:
    name: cocoapods
    runs-on: macOS-latest
    env:
      SPM: false
      LEGACY: false
      OS: iOS
      DEVICE: iPhone 11
      TEST: true
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd database
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          ../scripts/install_prereqs/database.sh
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ""
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: Swift
  spm:
    name: spm
    runs-on: macOS-11
    env:
      SPM: true
      DIR: database/DatabaseExampleSwiftUI/DatabaseExample
      TEST: false
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          gem install xcpretty
          cd database
          ../scripts/install_prereqs/database.sh
      - name: Build SwiftUI (iOS)
        run: ./scripts/test.sh
        env:
          OS: iOS
          DEVICE: iPhone 11
      - name: Build SwiftUI (macOS)
        run: ./scripts/test.sh
        env:
          OS: macOS
      - name: Build SwiftUI (tvOS)
        run: ./scripts/test.sh
        env:
          OS: tvOS
          DEVICE: Apple TV 4K (at 1080p) (2nd generation)
