name: Database

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'database/**'
      - 'scripts/*'
      - 'scripts/database.sh'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'database/**'
      - 'scripts/*'
      - 'scripts/database.sh'

  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd database
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
        env:
          SAMPLE: Database
          secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ''
          SAMPLE: Database
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: 'Swift'
          SAMPLE: Database
      - name: Build SwiftUI
        run: |
          ./scripts/test_spm.sh
        env: 
          SAMPLE: Database
          DIR: database/DatabaseExampleSwiftUI/DatabaseExample
          OS: iOS
          PLATFORM: iphone
          DEVICE: iPhone 11
          SWIFT_DEFINES: ""
          secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}
