name: InAppMessaging

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/inappmessaging.yml'
      - 'inappmessaging/**'
      - 'scripts/*'
      - 'scripts/inappmessaging.sh'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/inappmessaging.yml'
      - 'inappmessaging/**'
      - 'scripts/*'
      - 'scripts/inappmessaging.sh'

  workflow_dispatch:

env:
  SAMPLE: InAppMessaging
  secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}

jobs:
  cocoapods:
    name: cocoapods
    runs-on: macOS-12
    env:
      SPM: false
      LEGACY: false
      OS: iOS
      DEVICE: iPhone 14
      TEST: true
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd inappmessaging
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          ../scripts/install_prereqs/inappmessaging.sh
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ""
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: Swift
