name: Installations

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/installations.yml'
      - 'installations/**'
      - 'scripts/*'
      - 'scripts/installations.sh'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/installations.yml'
      - 'installations/**'
      - 'scripts/*'
      - 'scripts/installations.sh'

  workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

env:
  SAMPLE: Installations
  secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}

jobs:
  cocoapods:
    name: cocoapods
    runs-on: macOS-15
    env:
      SPM: false
      LEGACY: false
      OS: iOS
      DEVICE: iPhone 16
      TEST: true
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd installations
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          ../scripts/install_prereqs/installations.sh
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ""
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: Swift
