name: Performance

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/performance.yml'
      - 'performance/**'
      - 'scripts/*'
      - 'scripts/performance.sh'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/*.md'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/Design/**'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/performance.yml'
      - 'performance/**'
      - 'scripts/*'
      - 'scripts/performance.sh'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/*.md'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/Design/**'

  workflow_dispatch:

env:
  SAMPLE: Performance
  secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}

jobs:
  cocoapods:
    name: cocoapods
    runs-on: macOS-latest
    env:
      SPM: false
      LEGACY: false
      OS: iOS
      DEVICE: iPhone 11
      TEST: true
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd performance
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          ../scripts/install_prereqs/performance.sh
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ""
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: Swift
  spm:
    name: spm (${{ matrix.os }})
    runs-on: macOS-11
    strategy:
      matrix:
        os: [iOS, tvOS]
        test: [true]
        include:
          - os: iOS
            device: iPhone 12
          - os: tvOS
            device: Apple TV 4K (at 1080p) (2nd generation)
    env:
      SPM: true
      DIR: performance/SwiftUIPerformanceQuickstart/PerformanceExample
      OS: ${{ matrix.os }}
      DEVICE: ${{ matrix.device }}
      TEST: ${{ matrix.test }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          gem install xcpretty
          cd performance
          ../scripts/install_prereqs/performance.sh
      - name: Build and Test SwiftUI (${{ matrix.os }})
        run: ./scripts/test.sh
