name: Performance

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/performance.yml'
      - 'performance/**'
      - 'scripts/*'
      - 'scripts/performance.sh'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/*.md'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/Design/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/performance.yml'
      - 'performance/**'
      - 'scripts/*'
      - 'scripts/performance.sh'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/*.md'
      - '!performance/SwiftUIPerformanceQuickstart/PerformanceExample/Design/**'

  workflow_dispatch:

env:
  SAMPLE: Performance
  secrets_passphrase: ${{ secrets.GHASECRETSGPGPASSPHRASE1 }}

jobs:
  cocoapods:
    name: cocoapods
    runs-on: macOS-12
    env:
      SPM: false
      LEGACY: false
      OS: iOS
      DEVICE: iPhone 14
      TEST: true
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd performance
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
          ../scripts/install_prereqs/performance.sh
      - name: Build ObjC
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: ""
      - name: Build Swift
        run: ./scripts/test.sh
        env:
          SWIFT_SUFFIX: Swift
  spm:
    name: spm (Xcode ${{ matrix.xcode }} - ${{ matrix.os }})
    runs-on: macOS-12
    strategy:
      matrix:
        xcode: ["14.2"]
        os: [iOS, tvOS]
        include:
          - os: iOS
            device: iPhone 12
            test: true
          - os: tvOS
            device: Apple TV 4K (at 1080p) (2nd generation)
            test: true
    env:
      SETUP: performance
      SPM: true
      DIR: performance/SwiftUIPerformanceQuickstart/PerformanceExample
      OS: ${{ matrix.os }}
      DEVICE: ${{ matrix.device }}
      TEST: ${{ matrix.test }}
      XCODE_VERSION: ${{ matrix.xcode }}
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          gem install xcpretty
          cd $SETUP
          ../scripts/install_prereqs/${SETUP}.sh
      - name: Build and Test SwiftUI (${{ matrix.os }})
        run: ./scripts/test.sh
